<?xml version="1.0" ?>

<robot name="on_switch.urdf">
  <material name="Dark Grey">
    <color rgba=".3 .3 .3 1"/>
  </material>
  <material name="Light Grey">
    <color rgba=".5 .5 .5 1"/>
  </material>
  <link name="case_link">
    <!-- <contact>
      <lateral_friction value="1.0"/>
    </contact> -->
    <visual>
      <origin xyz="0 0 0" rpy = "0 0 0"/>
      <geometry>
			  <mesh filename="case.dae"/>
      </geometry>
      <material name="Dark Grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy = "0 0 0"/>
      <geometry>
			  <mesh filename="case.dae"/>
      </geometry>
    </collision>
    
  </link>
  <link name="off_button_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
			  <mesh filename="off_button.dae"/>
      </geometry>
      <material name="Light Grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
			  <mesh filename="off_button.dae"/>
      </geometry>
    </collision>
  </link>
  <joint name="fixed" type="fixed">
      <parent link="case_link"/>
      <child link="off_button_link"/>
  </joint>
</robot>